header.navbar {
  height: 116px;
    background-color: #38006b;
    width: 100%;
    padding: 25px;
}

div.menu .menu-item.tile.tile-centered {
  margin-top: 5px;
}

.title {
  text-align: center;
  margin-top: -25px;
  color: white;
  margin-left: 11vw;
}

.tile.tile-centered .tile-content {
  overflow: visible;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4.85rem;
  padding-right: 4.4rem;
  width: 100%;
}

.columns {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -4.6rem;
  margin-right: -4.6rem;
}

.menu.product-list {
  position: absolute;
  /* z-index: 13; */
  transform: none;
  min-height: 500px;
  min-width: 151px;
}

.menu.product-list[data-rbd-droppable-id="rouge"] {
  border-top: 2px solid red;
  z-index: 9;
      /* margin-left: -8px; */
}

.menu.product-list[data-rbd-droppable-id="orange"] {
  border-top: 2px solid #fa7900;
  z-index: 9;
  margin-left: -12px;
}

.menu.product-list[data-rbd-droppable-id="jaune"] {
  border-top: 2px solid #fbba04;
  z-index: 9;
  margin-left: -23px;
}

.menu.product-list[data-rbd-droppable-id="bleue"] {
  border-top: 2px solid  #1967b1;
  z-index: 9;
  margin-left: -35px;
}

.menu.product-list[data-rbd-droppable-id="gris"] {
  border-top: 2px solid  #464749;
  z-index: 9;
  margin-left: -47px;
}


.avatar {
  background: #5755d9;
  border-radius: 1%;
  color: rgba(255, 255, 255, .85);
  display: inline-block;
  font-size: .8rem;
  font-weight: 300;
  height: 1.6rem;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 1.6rem;
}

.avatar img {
  border-radius: none !important;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10000;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 14px;
}

.modal-footer > img {
  max-width: 100%;
}


.App-logo {
  height: 13vmin;
  pointer-events: none;
  margin-top: -18px;
  margin-left: -31px;
  position: absolute;
  z-index: 11;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
